<body>
  <h1 class="title">BattleShip Game</h1>
  <div class="rules">
    <h2>Rules</h2>
    <ol>
      <li>Game randomly places 5 ships on the boards</li>
      <li>Decide who starts first their turn.</li>
      <li>Each player has one shot per turn.</li>
      <li>First player to sink all 5 of the opponent's ships wins the game.</li>
    </ol>
  </div>
  <button (click)="restartGame()">Restart Game</button>
  <div class="turn-indicator">
    <p class="turn">Turn</p>
    <p class="turn-text" [ngClass]="{
      playerOne: currentPlayer === 'playerOne',
      playerTwo: currentPlayer === 'playerTwo'
    }">
      {{ currentPlayer === "playerOne" ? "Player One" : "Player Two" }}
      <br />
      {{ currentPlayer === "playerOne" ? "----->" : "<-----" }}
    </p>
  </div>

  <div class="game-board-container">
    <!-- First Game Board for Player One -->
    <div class="game-board" [ngClass]="{ 'blur-board': isPlayerOneTurn }">
      <div class="board-row" *ngFor="let row of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]; let rowIndex = index">
        <div class="board-cell" *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; let colIndex = index">
          <div class="cell" [ngClass]="getShipsPlayerTwo(col, row)" (click)="handleCellClick('playerTwo', col, row)"
            [class.disabled]="isPlayerOneTurn"></div>
        </div>
      </div>
    </div>
    <div class="game-board" [ngClass]="{ 'blur-board': !isPlayerOneTurn }">
      <div class="board-row" *ngFor="let row of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]; let rowIndex = index">
        <div class="board-cell" *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; let colIndex = index">
          <div class="cell" [ngClass]="getShipsPlayerOne(col, row)" (click)="handleCellClick('playerOne', col, row)"
            [class.disabled]="!isPlayerOneTurn"></div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="combat-log-title">Combat Log</h2>
  <div class="combat-log">
    <div class="log-entry" *ngFor="let entry of logEntries" [innerHTML]="entry"></div>
  </div>
  <div class="game-overlay" *ngIf="gameIsOver">
    <div class="overlay-content">
      <h2>Game Over</h2>
      <p>{{ currentPlayer === 'playerOne' ? 'Player Two' : 'Player One' }} wins!</p>
      <button (click)="restartGame()">Play Again</button>
    </div>
  </div>
</body>