body {
  width: 60%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 42px;
}

.rules {
  font-size: 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  margin-left: auto;
  display: block;
}

.turn-indicator {
  padding: 5px 20px;
  background-color: #EEEDED;
}

.turn {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
}

.turn-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #0cf3f3;
  transition: background-color 0.5s;
}

.turn-text.playerTwo {
  background-color: #5eff00;
}

.game-board-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #EEEDED;
}

.blur-board {
  filter: blur(5px);
}

.game-board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.cell {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.combat-log-title {
  padding: 20px 20px;
  background-color: #EEEDED;
  font-weight: bold;
}

.combat-log {
  padding: 20px 20px;
  background-color: #EEEDED;
  font-weight: bold;
}

.ship-destroyed {
  color: red;
  font-weight: bold;
}

.game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top of other content */
}

.overlay-content {
  background: #fff;
  padding: 100px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the "Play Again" button as needed */
.overlay-content button {
  background: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.overlay-content button:hover {
  background: #0056b3;
}

.carrier {
  background-color: blue;
}

.battleship {
  background-color: pink;
}

.destroyer {
  background-color: green;
}

.submarine {
  background-color: yellow;
}

.patrol_boat {
  background-color: orange;
}

.hit {
  background-color: red;
  transition: background-color 1s;
}

.miss {
  background-color: gray;
  transition: background-color 1s;
}