<body>
  <h1 class="title">{{ title }}</h1>
  <p>
    Before play begins, each player secretly arranges their ships on their
    primary grid here is done automatically by script. Each ship occupies a
    number of consecutive squares on the grid, arranged either horizontally or
    vertically. The number of squares for each ship is determined by the type of
    ship. The ships cannot overlap (i.e., only one ship can occupy any given
    square in the grid). The types and numbers of ships allowed are the same for
    each player. These may vary depending on the rules. The ships should be
    hidden from players' sight, and it's not allowed to see each other's pieces.
    The game is a discovery game in which players need to discover their
    opponents' ship positions.
  </p>

  <div class="turn-indicator">
    <p class="turn">Turn</p>
    <p
      class="turn-text"
      [ngClass]="{
        playerOne: currentPlayer === 'playerOne',
        playerTwo: currentPlayer === 'playerTwo'
      }"
    >
      {{
        currentPlayer === "playerOne"
          ? "<----- Player One"
          : "Player Two ----->"
      }}
    </p>
  </div>

  <div class="game-board-container">
    <!-- First Game Board for Player One -->
    <div class="game-board">
      <div
        class="board-row"
        *ngFor="let row of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]; let rowIndex = index"
      >
        <div
          class="board-cell"
          *ngFor="
            let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            let colIndex = index
          "
        >
          <div
            class="cell"
            [ngClass]="getShipsPlayerTwo(col, row)"
            (click)="handleCellClick('playerTwo', col, row)"
            [class.disabled]="isPlayerOneTurn"
          ></div>
        </div>
      </div>
    </div>
    <div class="game-board">
      <div
        class="board-row"
        *ngFor="let row of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]; let rowIndex = index"
      >
        <div
          class="board-cell"
          *ngFor="
            let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
            let colIndex = index
          "
        >
          <div
            class="cell"
            [ngClass]="getShipsPlayerOne(col, row)"
            (click)="handleCellClick('playerOne', col, row)"
            [class.disabled]="!isPlayerOneTurn"
          ></div>
        </div>
      </div>
    </div>

    <!-- Second Game Board for Player Two -->
  </div>
</body>
